{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}Оформление заказа{% endblock %}
{% block header %}Оформление заказа{% endblock %}
{% block subheader %}Оформление заказа{% endblock %}

{% block content %}
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Введите ваши данные для отправки:</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <form method="post" class="order-form" id="order_form">
                                {{ form|bootstrap }}
                                {% csrf_token %}
                                <button type="submit" id="order_form" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Оформить заказ</button>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Данные заказа:</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Ваши товары:</h5>
                                {% for item in cart %}
                        <div class="d-flex justify-content-between">
                            <p>{{ item.book.title }} ({{ item.quantity }})</p>
                            <p>{{ item.total_price|floatformat:2 }} грн.</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Всего</h5>
                            <h5 class="font-weight-bold">{{ cart.get_total_price|floatformat:2 }} грн.</h5>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
{% endblock %}
