{% extends "shop/base.html" %}
{% load bootstrap %}

{% block title %} Вход {% endblock %}
{% block header %}Вход{% endblock %}
{% block subheader %}Вход{% endblock %}

{% block content %}
    <div class="container-fluid pb-5 col-lg-5">
        <div class="text-center">
            <form method="post">
              {% csrf_token %}
                <div class="container px-4 px-lg-5">
                    <h2>Войти</h2>
                    {{ form|bootstrap }}
                </div>
                <div class="d-grid gap-2 container px-4 px-lg-5">
                    <button type="submit" class="btn btn-primary">Войти</button>
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary">Сбросить пароль</a>
                </div>
            </form>
                </div>
            </div>
{% endblock %}