{% extends "shop/base.html" %}
{% load bootstrap %}
{% block header %}Сброс пароля{% endblock %}
{% block subheader %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container-fluid pb-5 col-lg-5">
        <form method="post">
          {% csrf_token %}
            <div class="container px-4 px-lg-5">
                <h2>Сбросить пароль</h2>
                {{form | bootstrap}}
            </div>
            <div class="d-grid gap-2 container px-4 px-lg-5">
                <button type="submit" value="Reset password" class="btn btn-primary">Сбросить  пароль</button>
            </div>
        </form>
    </div>
{% endblock %}