{% extends "shop/base.html" %}
{% load bootstrap %}
{% block header %}Пароль сброшен{% endblock %}
{% block subheader %}Введите новый пароль{% endblock %}
{% block content %}

        <div class="container-fluid pb-5 col-lg-5">
        <form method="post">
        {% csrf_token %}
            <div class="container px-4 px-lg-5">
                {{ form|bootstrap }}
            </div>
            <div class="d-grid gap-2 container px-4 px-lg-5">
                <button type="submit" value="Change my password" class="btn btn-primary">Изменить пароль</button>
            </div>
        </form>
        </div>
{% endblock %}