{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap %}


{% block content %}
    <div id="sidebar">
        <form method="GET">
            {{ filter.form|bootstrap }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <h3>Жанры: </h3>
        <ul>
          <li>
            <a href="{% url "shop:book_list" %}">Все книги</a>
          </li>
            {% for genre in genres %}
                <li>
                    <a href="{% url "shop:books_by_genre" genre.id %}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
  </div>
  <div id="main" class="product-list">
    {% for book in filter.qs %}
      <div class="item">
        <a href="{{ book.get_absolute_url }}">
          <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>  от {{ book.author }}
        <br>
        ${{ book.price }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
