{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}{{ book.title }}{% endblock %}
{% block header %}{{ book.title }}{% endblock %}
{% block subheader %}Детали{% endblock %}

{% block content %}

    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{ book.title}}</h3>
                <p>от <a href="{% url 'shop:books_by_author' book.author.id %}">{{ book.author }}</a></p>
                <h3 class="font-weight-semi-bold mb-4">{{ book.price }} грн</h3>
                <div class="d-flex mb-3">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Жанры:</p>
                    {% for g in book.genre.all %}
                        <p><a href="{% url 'shop:books_by_genre' g.id %}">#{{ g.name }}</a>{% if not forloop.last %}; {% endif %}</p>
                    {% endfor %}
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                              {% if book.available %}
                                <form action="{% url "cart:cart_add" book.id %}" method="post">
                                    {{ cart_product_form|bootstrap }}
                                    {% csrf_token %}
                                    <button class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>В корзину</button>
                                </form>
                                {% else %}
                                    <button class="btn btn-sm  text-dark p-0"><i class="fa-solid fa-ban text-primary mr-1"></i>Нет в наличии</button>
                                {% endif %}
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Описание</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Отзывов {{ total_comments }}</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Немного про эту книгу:</h4>
                        <p>{{ book.summary }}</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">{{ total_comments }} отзывов на "{{ book }}"</h4>
                                {% for review in page_obj %}
                                <div class="media mb-4">
                                    <div class="media-body">
                                        <h6>Отзыв {{ forloop.counter }} от {{ review.name }}<small> - <i>{{ review.created }}</i></small></h6>
                                        <p>{{ review.body }}</p>
                                    </div>
                                </div>
                                {% empty %}
                                <p>Еще нет комментариев</p>
                                {% endfor %}
                                {% include "shop/book/pagination.html" %}

                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Оставить отзыв</h4>
                                    <div class="form-group">
                                        {% include "shop/book/review_form.html" %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
{% endblock %}



