{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap %}

{% block header %}Все книги{% endblock %}
{% block subheader %}Список всех книг{% endblock %}
{% block sidebar %}
            <div class="col-lg-3 col-md-12">
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Использовать фильтр: </h5>
                    <form method="GET">
                        {{ filter.form|bootstrap }}
                    <button type="submit" class="btn btn-primary">Поиск</button>
                    </form>
                </div>
            </div>
{% endblock %}

{% block content %}
           <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="dropdown ml-4">
                                    <form action="{% url 'shop:book_list' %}">
                                        <label>
                                            <select name="sort" class="form-control form-control-sm">
                                                <option value="datedown" class="dropdown-item">Сначала новые</option>
                                                <option value="dateup" class="dropdown-item">Сначала старые</option>
                                                <option value="priceup" class="dropdown-item">По возрастанию цены</option>
                                                <option value="pricedown" class="dropdown-item">По убыванию цены</option>
                                                <option value="nameup" class="dropdown-item">По названию (а-я)</option>
                                                <option value="namedown" class="dropdown-item">По названию (я-а)</option>
                                            </select>
                                        </label>
                                        <input type="submit" class="btn btn-secondary btn-sm" value="Сортировать">
                                    </form>
                            </div>
                        </div>
                    </div>

                    {% for book in object_list %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a href="{{ book.get_absolute_url }}">
                                <img class="img-fluid w-100" src="{% if book.image %}{{ book.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
                                </a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h6>
                                <p class="text-truncate mb-3">от <a href="{% url 'shop:books_by_author' book.author.id %}">{{ book.author }}</a></p>
                                <div class="d-flex justify-content-center">
                                    <h6>{{ book.price }} грн.</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="{{ book.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                {% if book.available %}
                                <form action="{% url "cart:cart_add" book.id %}" method="post">
                                    {{ cart_product_form|bootstrap }}
                                    {% csrf_token %}
                                    <button class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>В корзину</button>
                                </form>
                                {% else %}
                                    <button class="btn btn-sm  text-dark p-0"><i class="fa-solid fa-ban text-primary mr-1"></i>Нет в наличии</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Pager-->
                    <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                            {% include "shop/book/pagination.html" %}
                        </nav>
                    </div>
                </div>
            </div>
{% endblock %}